In [14]:
import json
import csv

In [15]:
with open("sales.json") as file:
    data = json.load(file)

In [16]:
item_data = open('sale.csv','w')
csvwriter = csv.writer(item_data)

count = 0
for item in data:
    if count == 0:
        header = item.keys()
        csvwriter.writerow(header)
        count += 1
    csvwriter.writerow(item.values())    
item_data.close()

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('sale.csv')

In [19]:
df

       item                                   sales_by_country
0   sweater  {'Russia': {'2010': 85, '2011': 10, '2012': 10...
1  sneakers  {'Russia': {'2010': 27, '2011': 143, '2012': 1...
2    hoodie  {'Russia': {'2010': 46, '2011': 23, '2012': 15...
3     jeans  {'Russia': {'2010': 148, '2011': 23, '2012': 1...
4   t-shirt  {'Russia': {'2010': 118, '2011': 141, '2012': ...