In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler
from keras.preprocessing.sequence import TimeseriesGenerator
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from tensorflow import keras

In [12]:
data = pd.read_csv('adult.csv')

In [13]:
data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [14]:
data['income >50K'] = data['income'].apply(lambda income: 1 if income == ">50K" else 0)

In [15]:
data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,income >50K
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K,0
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,1
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,0
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0

In [17]:
data_end = int(np.floor(0.8*(data.shape[0])))
train = data[0:data_end]['income >50K']
train =train.values.reshape(-1)
test = data[data_end:]['income >50K'].values.reshape(-1)
date_test = data[data_end:]['age'].values.reshape(-1)

In [18]:
def get_data(train,test,time_step,num_predict,date):
  x_train= list()
  y_train = list()
  x_test = list()
  y_test = list()
  date_test= list()

  for i in range(0,len(train) - time_step - num_predict):
    x_train.append(train[i:i+time_step])
    y_train.append(train[i+time_step:i+time_step+num_predict])

  for i in range(0, len(test) - time_step - num_predict):
    x_test.append(test[i:i+time_step])
    y_test.append(test[i+time_step:i+time_step+num_predict])
    date_test.append(date[i+time_step:i+time_step+num_predict])
  
  return np.asarray(x_train), np.asarray(y_train), np.asarray(x_test), np.asarray(y_test), np.asarray(date_test)

In [19]:
x_train, y_train, x_test, y_test, date_test = get_data(train,test,30,1, date_test)

In [20]:
scaler = MinMaxScaler()
x_train = x_train.reshape(-1,30)

x_train = scaler.fit_transform(x_train)
y_train = scaler.fit_transform(y_train)

x_test = x_test.reshape(-1,30)

x_test = scaler.fit_transform(x_test)
y_test = scaler.fit_transform(y_test)

In [21]:
n_input = 30
n_features = 1

model = Sequential()
model.add(LSTM(units=50,activation='relu', input_shape=(n_input, n_features), return_sequences=True))
model.add(Dropout(0.3))

model.add(LSTM(units=50, return_sequences=True))
model.add(Dropout(0.3))

model.add(LSTM(units=50))
model.add(Dropout(0.3))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [23]:
model.fit(x_train, y_train, epochs=50, validation_split=0.2, verbose=1, batch_size=30)

Epoch 1/50
694/694 [==============================] - 16s 22ms/step - loss: 0.1332 - val_loss: 0.1552
Epoch 2/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1324 - val_loss: 0.1555
Epoch 3/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1319 - val_loss: 0.1562
Epoch 4/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1315 - val_loss: 0.1554
Epoch 5/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1320 - val_loss: 0.1558
Epoch 6/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1314 - val_loss: 0.1554
Epoch 7/50
694/694 [==============================] - 18s 27ms/step - loss: 0.1312 - val_loss: 0.1555
Epoch 8/50
694/694 [==============================] - 17s 25ms/step - loss: 0.1310 - val_loss: 0.1559
Epoch 9/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1311 - val_loss: 0.1553
Epoch 10/50
694/694 [==============================] - 18s 25ms/step - loss: 0.1306 - val_loss: 0.1555
Epoch 11/50
694/694 [==============================] - 17s 25ms/step - loss: 0.1308 - val_loss: 0.1553
Epoch 12/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1306 - val_loss: 0.1556
Epoch 13/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1309 - val_loss: 0.1553
Epoch 14/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1307 - val_loss: 0.1555
Epoch 15/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1307 - val_loss: 0.1554
Epoch 16/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1306 - val_loss: 0.1554
Epoch 17/50
694/694 [==============================] - 18s 27ms/step - loss: 0.1305 - val_loss: 0.1553
Epoch 18/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1304 - val_loss: 0.1556
Epoch 19/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1308 - val_loss: 0.1556
Epoch 20/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1303 - val_loss: 0.1554
Epoch 21/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1301 - val_loss: 0.1556
Epoch 22/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1303 - val_loss: 0.1553
Epoch 23/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1307 - val_loss: 0.1555
Epoch 24/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1300 - val_loss: 0.1555
Epoch 25/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1303 - val_loss: 0.1554
Epoch 26/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1301 - val_loss: 0.1559
Epoch 27/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1304 - val_loss: 0.1556
Epoch 28/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1302 - val_loss: 0.1555
Epoch 29/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1300 - val_loss: 0.1552
Epoch 30/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1300 - val_loss: 0.1559
Epoch 31/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1302 - val_loss: 0.1554
Epoch 32/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1300 - val_loss: 0.1557
Epoch 33/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1301 - val_loss: 0.1553
Epoch 34/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1301 - val_loss: 0.1555
Epoch 35/50
694/694 [==============================] - 19s 28ms/step - loss: 0.1298 - val_loss: 0.1554
Epoch 36/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1299 - val_loss: 0.1553
Epoch 37/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1299 - val_loss: 0.1552
Epoch 38/50
694/694 [==============================] - 18s 27ms/step - loss: 0.1299 - val_loss: 0.1553
Epoch 39/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1298 - val_loss: 0.1553
Epoch 40/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1298 - val_loss: 0.1553
Epoch 41/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1297 - val_loss: 0.1560
Epoch 42/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1299 - val_loss: 0.1557
Epoch 43/50
694/694 [==============================] - 19s 28ms/step - loss: 0.1299 - val_loss: 0.1553
Epoch 44/50
694/694 [==============================] - 19s 28ms/step - loss: 0.1327 - val_loss: 0.1554
Epoch 45/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1303 - val_loss: 0.1558
Epoch 46/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1298 - val_loss: 0.1556
Epoch 47/50
694/694 [==============================] - 18s 27ms/step - loss: 0.1296 - val_loss: 0.1557
Epoch 48/50
694/694 [==============================] - 19s 27ms/step - loss: 0.1296 - val_loss: 0.1553
Epoch 49/50
694/694 [==============================] - 18s 26ms/step - loss: 0.1297 - val_loss: 0.1555
Epoch 50/50
694/694 [==============================] - 18s 27ms/step - loss: 0.1297 - val_loss: 0.1555